body {
  background-color: #f9f9f9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: AvenirNext-DemiBold, Helvetica, sans-serif;
}

.card {
  border-radius: 4px;
  background-color: #fff;
  padding: 18px;
  box-shadow: rgba(0, 0, 0, 0.157) 0 2px 5px 0;
}

@media (max-width: 400px) {
  .card {
    padding: 8px;
  }
}

.margin-10 {
  margin: 10px;
}

.margin-0 {
  margin: 0;
}

.flex-box {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
}

.flex-right {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end;
}

.flex-1 {
  flex: 1;
  -webkit-flex: 1;
}

.hyperbutton {
  cursor: pointer;
  font-family: AvenirNext-DemiBold, Helvetica, sans-serif;
  font-size: 18px;
  color: #6a6a6a;
  margin: 0 9px;
}

.author-name {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 8px;
}

.ril-container {
  max-width: 960px;
  margin: auto;
}

.img-responsive {
  max-width: 100%;
}

.btn-facebook,
.btn-facebook:visited {
  border-color: #29447e;
  border-bottom-color: #1a356e;
  color: #fff;
  background-color: #5872a7;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#637bad), to(#5872a7));
  background-image: -webkit-linear-gradient(#637bad, #5872a7);
  background-image: -moz-linear-gradient(#637bad, #5872a7);
  background-image: -ms-linear-gradient(#637bad, #5872a7);
  background-image: -o-linear-gradient(#637bad, #5872a7);
  background-image: linear-gradient(#637bad, #5872a7);
  -webkit-box-shadow: inset 0 1px 0 #879ac0;
  box-shadow: inset 0 1px 0 #879ac0;
}

.btn-facebook:hover,
.btn-facebook:focus {
  color: #fff;
  background-color: #3b5998;
}

.btn-facebook:active {
  color: #fff;
  background: #4f6aa3;
  -webkit-box-shadow: inset 0 1px 0 #45619d;
  box-shadow: inset 0 1px 0 #45619d;
}
