.NewPost {
	max-width: 800px;
	margin: auto;
}

.NewPost .text-area {
	margin: 0 0 0 20px;
}

.NewPost .card {
	margin-top: 30px;
}

.NewPost textarea {
	width: 100%;
	height: 150px;
	resize: none;
}
