
.post
  margin 22px 0

  .meta
    margin-bottom 0
    color #333
    clear both
    font-family  AvenirNext-DemiBold, Helvetica, sans-serif
    font-size 14px

  .meta-time
    margin-bottom 0
    color #666
    font-size 12px

  .metadata-area
    margin 0 8px
    @media (max-width: 400px)
      width 40px

  .avatar-pic
    border-radius 2px
    @media (max-width: 400px)
      width 40px
      height 40px

  .body-text
    word-break normal
    word-wrap break-word
    overflow-wrap break-word
    white-space pre-wrap
    margin-bottom 0
  .post-image
    max-width 100%

  .post-admin
    button
      display inherit

  textarea
    height 200px
    width 600px
    resize none

  .reply
    .card
      background-color #EFEFEF


/*responsive embedded video*/
.video-container
   position relative
   padding-bottom 56.25%

.video-container iframe,
.video-container object,
.video-container embed
   position absolute
   top 0
   left 0
   width 100%
   height 100%
